In [1]:
import pandas as pd
import numpy as np
#import pixiedust
import matplotlib.pyplot as plt
from bs4 import BeautifulSoup
from urllib.request import Request, urlopen
import datetime

from sklearn.feature_extraction.text import TfidfVectorizer
from nltk import word_tokenize


#tim https://s3.amazonaws.com/adm-mpeg-dash/gnvideostream/ENSWERCCR7_48_2/KCPQ_FOX_SEATTLE/ccaptions/2018/08/10/d871a12943c40894b2ef9a244dd5704a.cc

In [2]:
#file too large to load via read_json

# data = 'data/cc_chunks.json'
# df = pd.read_json(data)

In [124]:
!head -n 1 data/cc_chunks.json

{"_id":{"$oid":"5b4d62c727eca30007beed65"},"tui":"251537479","duration":900000,"lang":"dflt","machine_id":"ENSWERCCR7_247","url":"https://s3.amazonaws.com/adm-mpeg-dash/gnvideostream/ENSWERCCR7_247/UNIMAS_KFTR/ccaptions/2018/07/17/27514dda124948367b7f4e97d3e79064.cc","created_at":{"$date":"2018-07-17T03:30:15.231Z"},"ts":{"$numberLong":"1531797300000"},"tv":{"$date":"2018-07-17T03:15:00.000Z"},"zip_url":"https://s3.amazonaws.com/adm-mpeg-dash/gnvideostream/ENSWERCCR7_247/UNIMAS_KFTR/ccaptions/2018/07/17/27514dda124948367b7f4e97d3e79064.cc.gz","channel":"UNIMAS_KFTR"}

In [2]:
!tail -n 1 data/cc_chunks.json

{"_id":{"$oid":"5bd28b83687a5f000715b26e"},"tui":"251543425","duration":900000,"lang":"dflt","machine_id":"ENSWERCCR7_141_126","url":"https://s3.amazonaws.com/adm-mpeg-dash/gnvideostream/ENSWERCCR7_141_126/WTVR_CBS_RICHMOND/ccaptions/2018/10/26/dfd48d8b3935698567c1c3bb00dcef37.cc","created_at":{"$date":"2018-10-26T03:35:31.212Z"},"ts":{"$numberLong":"1540523700000"},"tv":{"$date":"2018-10-26T03:15:00.000Z"},"zip_url":"https://s3.amazonaws.com/adm-mpeg-dash/gnvideostream/ENSWERCCR7_141_126/WTVR_CBS_RICHMOND/ccaptions/2018/10/26/dfd48d8b3935698567c1c3bb00dcef37.cc.gz","channel":"WTVR_CBS_RICHMOND"}

In [17]:
!wc -l data/cc_chunks.json

 4519355 data/cc_chunks.json

In [2]:
# raw metadata links broken

#max_records = 100000
data = 'data/cc_chunks.json'
chunks = pd.read_json(data, lines=True, chunksize=10000)
filtered_data = pd.DataFrame()

try:
    for df_chunk in chunks:
        chunk_data = pd.concat([filtered_data, df_chunk])
        break
        
except ValueError:
       print ('\nSome messages in the file cannot be parsed')
        
chunk_data.head()

,_id,channel,created_at,duration,lang,machine_id,ts,tui,tv,url,zip_url
0,{'$oid': '5b4d62c727eca30007beed65'},UNIMAS_KFTR,{'$date': '2018-07-17T03:30:15.231Z'},900000,dflt,ENSWERCCR7_247,{'$numberLong': '1531797300000'},251537479,{'$date': '2018-07-17T03:15:00.000Z'},https://s3.amazonaws.com/adm-mpeg-dash/gnvideo...,https://s3.amazonaws.com/adm-mpeg-dash/gnvideo...
1,{'$oid': '5b4d62c90d730f0007e4ccce'},TV_LAND,{'$date': '2018-07-17T03:30:17.122Z'},900000,dflt,ENSWERCCR4_22,{'$numberLong': '1531797300000'},251536903,{'$date': '2018-07-17T03:15:00.000Z'},https://s3.amazonaws.com/adm-mpeg-dash/gnvideo...,https://s3.amazonaws.com/adm-mpeg-dash/gnvideo...
2,{'$oid': '5b4d62c9265e7500079d0956'},NICK_JUNIOR_SD,{'$date': '2018-07-17T03:30:17.558Z'},900000,dflt,ENSWERCCR4_ingest188,{'$numberLong': '1531797300000'},251534646,{'$date': '2018-07-17T03:15:00.000Z'},https://s3.amazonaws.com/adm-mpeg-dash/gnvideo...,https://s3.amazonaws.com/adm-mpeg-dash/gnvideo...
3,{'$oid': '5b4d62c9265e7500079d0957'},PARAMOUNT_NETWORK_HD,{'$date': '2018-07-17T03:30:17.845Z'},900000,dflt,ENSWERCCR4_ingest188,{'$numberLong': '1531797300000'},251536777,{'$date': '2018-07-17T03:15:00.000Z'},https://s3.amazonaws.com/adm-mpeg-dash/gnvideo...,https://s3.amazonaws.com/adm-mpeg-dash/gnvideo...
4,{'$oid': '5b4d62c9a9d31800075c4771'},OXYGEN_HD,{'$date': '2018-07-17T03:30:17.383Z'},900000,dflt,ENSWERCCR2_ingest206,{'$numberLong': '1531797300000'},251544242,{'$date': '2018-07-17T03:15:00.000Z'},https://s3.amazonaws.com/adm-mpeg-dash/gnvideo...,https://s3.amazonaws.com/adm-mpeg-dash/gnvideo...

In [60]:
test_data['date'].dt.month

0    7
1    7
2    7
3    7
4    7
Name: date, dtype: int64

In [3]:
# raw metadata

#max_records = 100000
data = 'data/cc_chunks.json'
chunks = pd.read_json(data, lines=True, chunksize=10000)
filtered_data = pd.DataFrame()

for i, chunk in enumerate( chunks ):
    break
    
chunk.head()

# try:
#     for df_chunk in chunks:
#         filtered_data = pd.concat([filtered_data, df_chunk])
#         break
        
# except ValueError:
#        print ('\nSome messages in the file cannot be parsed')
        
# filtered_data.head()

,_id,channel,created_at,duration,lang,machine_id,ts,tui,tv,url,zip_url
0,{'$oid': '5b4d62c727eca30007beed65'},UNIMAS_KFTR,{'$date': '2018-07-17T03:30:15.231Z'},900000,dflt,ENSWERCCR7_247,{'$numberLong': '1531797300000'},251537479,{'$date': '2018-07-17T03:15:00.000Z'},https://s3.amazonaws.com/adm-mpeg-dash/gnvideo...,https://s3.amazonaws.com/adm-mpeg-dash/gnvideo...
1,{'$oid': '5b4d62c90d730f0007e4ccce'},TV_LAND,{'$date': '2018-07-17T03:30:17.122Z'},900000,dflt,ENSWERCCR4_22,{'$numberLong': '1531797300000'},251536903,{'$date': '2018-07-17T03:15:00.000Z'},https://s3.amazonaws.com/adm-mpeg-dash/gnvideo...,https://s3.amazonaws.com/adm-mpeg-dash/gnvideo...
2,{'$oid': '5b4d62c9265e7500079d0956'},NICK_JUNIOR_SD,{'$date': '2018-07-17T03:30:17.558Z'},900000,dflt,ENSWERCCR4_ingest188,{'$numberLong': '1531797300000'},251534646,{'$date': '2018-07-17T03:15:00.000Z'},https://s3.amazonaws.com/adm-mpeg-dash/gnvideo...,https://s3.amazonaws.com/adm-mpeg-dash/gnvideo...
3,{'$oid': '5b4d62c9265e7500079d0957'},PARAMOUNT_NETWORK_HD,{'$date': '2018-07-17T03:30:17.845Z'},900000,dflt,ENSWERCCR4_ingest188,{'$numberLong': '1531797300000'},251536777,{'$date': '2018-07-17T03:15:00.000Z'},https://s3.amazonaws.com/adm-mpeg-dash/gnvideo...,https://s3.amazonaws.com/adm-mpeg-dash/gnvideo...
4,{'$oid': '5b4d62c9a9d31800075c4771'},OXYGEN_HD,{'$date': '2018-07-17T03:30:17.383Z'},900000,dflt,ENSWERCCR2_ingest206,{'$numberLong': '1531797300000'},251544242,{'$date': '2018-07-17T03:15:00.000Z'},https://s3.amazonaws.com/adm-mpeg-dash/gnvideo...,https://s3.amazonaws.com/adm-mpeg-dash/gnvideo...

In [4]:
#create list of chunks then concat list
#10min to load

data = 'data/cc_chunks.json'
chunks = pd.read_json(data, lines=True, chunksize=10000)
filtered_data = pd.DataFrame()

chunks_list = []
for i, chunk in enumerate( chunks ):
    chunks_list.append(chunk)
    
len(chunks_list)

452

In [5]:
#8min to load

df = pd.concat( chunks_list )

In [41]:
df.shape

(4519355, 11)

In [6]:
#create date series for boolean filtering after October

date_series = pd.Series(df['created_at'].values)

In [7]:
#15min

dates = date_series.apply(lambda x: x.get('$date'))
dates[4519345:4519355]

4519345    2018-10-26T03:33:19.500Z
4519346    2018-10-26T03:34:00.818Z
4519347    2018-10-26T03:34:01.057Z
4519348    2018-10-26T03:34:23.864Z
4519349    2018-10-26T03:34:36.423Z
4519350    2018-10-26T03:34:41.076Z
4519351    2018-10-26T03:34:57.642Z
4519352    2018-10-26T03:35:01.934Z
4519353    2018-10-26T03:35:24.500Z
4519354    2018-10-26T03:35:31.212Z
dtype: object

In [49]:
#namespace loaded
dates[2259682:2259692]

2259682    2018-09-05T16:16:15.951Z
2259683    2018-09-05T16:16:15.127Z
2259684    2018-09-05T16:16:16.834Z
2259685    2018-09-05T16:16:16.179Z
2259686    2018-09-05T16:16:16.248Z
2259687    2018-09-05T16:16:16.798Z
2259688    2018-09-05T16:16:18.420Z
2259689    2018-09-05T16:16:20.989Z
2259690    2018-09-05T16:16:20.397Z
2259691    2018-09-05T16:16:21.198Z
dtype: object

In [8]:
#create datetime col for boolean

df['date'] = pd.to_datetime(dates)

In [ ]:
#15min to run

df_new = df.loc[pd.to_datetime(df['date'].dt.date) > '2018-10-01'].reset_index()
df_new.head()

In [122]:
df_new['url'][0]

'https://s3.amazonaws.com/adm-mpeg-dash/gnvideostream/ENSWERCCR7_8_3/WBNX_HD_CW/ccaptions/2018/10/01/393cd7c008e0f5c24c2d30be1371afa6.cc'

In [123]:
df_new.shape

(1084683, 13)

In [ ]:
df_new.tail()

In [ ]:
#write to csv

df_new.to_json('data/cc_chunks_recent.json', orient='records', lines=True)

In [125]:
df_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1084683 entries, 0 to 1084682
Data columns (total 13 columns):
index         1084683 non-null int64
_id           1084683 non-null object
channel       1084683 non-null object
created_at    1084683 non-null object
duration      1084683 non-null int64
lang          1084683 non-null object
machine_id    1084683 non-null object
ts            1084683 non-null object
tui           1084683 non-null int64
tv            1084683 non-null object
url           1084683 non-null object
zip_url       1084683 non-null object
date          1084683 non-null datetime64[ns]
dtypes: datetime64[ns](1), int64(3), object(9)
memory usage: 107.6+ MB

In [27]:
# example closed caption text for one line in .json
# want to include 'data' in json via python script

with open('data/example.txt') as f: 
    data = f.readlines() 

data_joined = " ".join(data)
data_joined = data_joined.strip().split()
print(data_joined[:40])

['1533919500396', '1068', 'YEAR', 'SEAHAWKS', 'TEAM', 'INCLUDING', 'SOMEONE', 'WHO', 'IMPRESS', 'A', 'WHOLE', 'LOT', '1533919501464', '1134', 'SOMEONE', 'WHO', 'IMPRESS', 'A', 'WHOLE', 'LOT', 'OF', 'PEOPLE.', '1533919502599', '834', 'OF', 'PEOPLE.', 'ALL', 'ACROSS', 'THE', 'COUNTRY', 'WITH', 'HIS', '1533919503433', '2402', 'ALL', 'ACROSS', 'THE', 'COUNTRY', 'WITH', 'HIS']

In [28]:
data[0]

'1533919500396\n'

In [39]:
#join text as string with linebreaks

data_joined = " ".join(data)
data_joined[:100]

'1533919500396\n 1068\n YEAR SEAHAWKS TEAM INCLUDING\n SOMEONE WHO IMPRESS A WHOLE LOT\n \n 1533919501464\n'

In [40]:
#join text as word list

data_joined = data_joined.strip().split()

In [41]:
data_joined[:10]

['1533919500396',
 '1068',
 'YEAR',
 'SEAHAWKS',
 'TEAM',
 'INCLUDING',
 'SOMEONE',
 'WHO',
 'IMPRESS',
 'A']

In [83]:
#test one line json

test_line = pd.DataFrame(filtered_data.loc[:0])
test_line

,_id,channel,created_at,duration,lang,machine_id,ts,tui,tv,url,zip_url
0,{'$oid': '5b4d62c727eca30007beed65'},UNIMAS_KFTR,{'$date': '2018-07-17T03:30:15.231Z'},900000,dflt,ENSWERCCR7_247,{'$numberLong': '1531797300000'},251537479,{'$date': '2018-07-17T03:15:00.000Z'},https://s3.amazonaws.com/adm-mpeg-dash/gnvideo...,https://s3.amazonaws.com/adm-mpeg-dash/gnvideo...

In [85]:
req = Request('https://s3.amazonaws.com/adm-mpeg-dash/gnvideostream/ENSWERCCR7_48_2/KCPQ_FOX_SEATTLE/ccaptions/2018/08/10/d871a12943c40894b2ef9a244dd5704a.cc', headers={'User-Agent': 'Mozilla/5.0'})
webpage = urlopen(req).read()

test_line['text'] = webpage
test_line

,_id,channel,created_at,duration,lang,machine_id,ts,tui,tv,url,zip_url,text
0,{'$oid': '5b4d62c727eca30007beed65'},UNIMAS_KFTR,{'$date': '2018-07-17T03:30:15.231Z'},900000,dflt,ENSWERCCR7_247,{'$numberLong': '1531797300000'},251537479,{'$date': '2018-07-17T03:15:00.000Z'},https://s3.amazonaws.com/adm-mpeg-dash/gnvideo...,https://s3.amazonaws.com/adm-mpeg-dash/gnvideo...,b'1533919500396\n1068\nYEAR SEAHAWKS TEAM INCL...

In [64]:
# user-agent to get around security feature that blocks spider/bot agents

req = Request('https://s3.amazonaws.com/adm-mpeg-dash/gnvideostream/ENSWERCCR7_48_2/KCPQ_FOX_SEATTLE/ccaptions/2018/08/10/d871a12943c40894b2ef9a244dd5704a.cc', headers={'User-Agent': 'Mozilla/5.0'})
webpage = urlopen(req).read()
webpage[:10]

b'1533919500'

In [81]:
req = Request('https://s3.amazonaws.com/adm-mpeg-dash/gnvideostream/ENSWERCCR7_48_2/KCPQ_FOX_SEATTLE/ccaptions/2018/08/10/d871a12943c40894b2ef9a244dd5704a.cc', headers={'User-Agent': 'Mozilla/5.0'})
webpage = urlopen(req).read()
webpage[:10]

b'1533919500'

Index(['_id', 'channel', 'created_at', 'duration', 'lang', 'machine_id', 'ts',
       'tui', 'tv', 'url', 'zip_url'],
      dtype='object')

Datetime conversion

In [86]:
test_line

,_id,channel,created_at,duration,lang,machine_id,ts,tui,tv,url,zip_url,text
0,{'$oid': '5b4d62c727eca30007beed65'},UNIMAS_KFTR,{'$date': '2018-07-17T03:30:15.231Z'},900000,dflt,ENSWERCCR7_247,{'$numberLong': '1531797300000'},251537479,{'$date': '2018-07-17T03:15:00.000Z'},https://s3.amazonaws.com/adm-mpeg-dash/gnvideo...,https://s3.amazonaws.com/adm-mpeg-dash/gnvideo...,b'1533919500396\n1068\nYEAR SEAHAWKS TEAM INCL...

In [46]:
#test_line['created_at'] = pd.to_datetime(df['created_at'])

In [179]:
#mask = (filtered_data['created_at'].iloc[2]['$date'] > '2018-10-01T03:30:15.231Z')

#mask = filtered_data[(filtered_data['created_at']['$date'] > '2018-10-01')]

#mask = filtered_data.loc[filtered_data['created_at'].all()['$date'] > '2018-10-01']

mask = filtered_data['created_at'].apply(lambda x: x.get('$date') > '2018-10-01')

mask

0        False
1        False
2        False
3        False
4        False
5        False
6        False
7        False
8        False
9        False
10       False
11       False
12       False
13       False
14       False
15       False
16       False
17       False
18       False
19       False
20       False
21       False
22       False
23       False
24       False
25       False
26       False
27       False
28       False
29       False
         ...
99970    False
99971    False
99972    False
99973    False
99974    False
99975    False
99976    False
99977    False
99978    False
99979    False
99980    False
99981    False
99982    False
99983    False
99984    False
99985    False
99986    False
99987    False
99988    False
99989    False
99990    False
99991    False
99992    False
99993    False
99994    False
99995    False
99996    False
99997    False
99998    False
99999    False
Name: created_at, Length: 100000, dtype: bool

In [ ]:
# export temp table to sql?

urllib.response.tempfile

In [ ]:
urllib.request.urlretrieve

In [ ]:
#pull cc from zip/gz file

import numpy as np
import os
from random import shuffle
import re
import urllib.request
import zipfile
import lxml.etree

#download the data
urllib.request.urlretrieve("https://wit3.fbk.eu/get.php?path=XML_releases/xml/ted_en-20160408.zip&filename=ted_en-20160408.zip", filename="ted_en-20160408.zip")

# extract subtitle
with zipfile.ZipFile('ted_en-20160408.zip', 'r') as z:
    doc = lxml.etree.parse(z.open('ted_en-20160408.xml', 'r'))
input_text = '\n'.join(doc.xpath('//content/text()'))

In [ ]:
# remove parenthetical phrases

# remove parenthesis 
input_text_noparens = re.sub(r'\([^)]*\)', '', input_text)
# store as list of sentences
sentences_strings_ted = []
for line in input_text_noparens.split('\n'):
    m = re.match(r'^(?:(?P<precolon>[^:]{,20}):)?(?P<postcolon>.*)$', line)
    sentences_strings_ted.extend(sent for sent in m.groupdict()['postcolon'].split('.') if sent)
# store as list of lists of words
sentences_ted = []
for sent_str in sentences_strings_ted:
    tokens = re.sub(r"[^a-z0-9]+", " ", sent_str.lower()).split()
    sentences_ted.append(tokens)

In [ ]:
# pull from .gz file

import gzip
import shutil

with gzip.open('file.txt.gz', 'rb') as f_in:
    with open('file.txt', 'wb') as f_out:
        shutil.copyfileobj(f_in, f_out)